.skills-bar {
    /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
    display: flex;
    /* flex-direction: column; */
    width: 100%;
    justify-content: space-evenly;
}

.bar {
    margin: 20px 0;
    width: 330px;
    font-weight: 500;
}

.bar .info span {
    opacity: 0;
    animation: showText1 0.5s 1s linear forwards;
}

@keyframes showText1 {
    100% {
        opacity: 1;
    }
}

.progress-line {
    position: relative;
    height: 10px;
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
        0px 1px rgba(255, 255, 255, 0.8);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span {
    height: 100%;
    /* width: 80%; */
    background: #00a6eb;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.progress-line.html span {
    width: 80%;
}

.progress-line.css span {
    width: 65%;
}

.progress-line.js span {
    width: 65%;
}

.progress-line.github span {
    width: 65%;
}

/* .progress-line.python span {
    width: 50%;
} */

.progress-line.mongo span {
    width: 30%;
}

.progress-line.express span {
    width: 30%;
}

.progress-line.react span {
    width: 20%;
}

.progress-line.bootstrap span {
    width: 50%;
}

.progress-line span::before {
    position: absolute;
    content: "";
    top: -10px;
    right: 0;
    border: 7px solid transparent;
    height: 0;
    width: 0;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #173b6c;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

.progress-line span::after {
    position: absolute;
    /* content: "80%"; */
    top: -26px;
    right: 0;
    color: #fff;
    background: #173b6c;
    font-size: 12px;
    font-weight: 500;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText2 0.5s 1.5s linear forwards;
}

@keyframes showText2 {
    100% {
        opacity: 1;
    }
}

.progress-line.html span::after {
    content: "80%";
}

.progress-line.css span::after {
    content: "65%";
}

.progress-line.js span::after {
    content: "65%";
}

.progress-line.github span::after {
    content: "50%";
}

/* .progress-line.python span::after {
    content: "50%";
} */

.progress-line.mongo span::after {
    content: "30%";
}

.progress-line.express span::after {
    content: "30%";
}

.progress-line.mongo span::after {
    content: "30%";
}

.progress-line.react span::after {
    content: "20%";
}

.progress-line.bootstrap span::after {
    content: "50%";
}


@media (max-width: 964px) {
    .skills-bar {
        /* box-shadow: 5px 5px 10px rgba(0,0,0,0.2); */
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bar {
        height: 30px;
        margin: 20px 0;
        width: 100%;
        font-weight: 500;
        font-size: 1rem;
        /* line-height: 1.2rem; */
    }

    .progress-line {
        position: relative;
        height: 15px;
        width: 100%;
        background: #f0f0f0;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.05),
            0px 1px rgba(255, 255, 255, 0.8);
        animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }

    .progress-line span {
        height: 100%;
        /* width: 80%; */
        background: #00a6eb;
        position: absolute;
        border-radius: 10px;
        transform: scaleX(0);
        transform-origin: left;
        animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    }

}