.project img {
    width: 350px;
    height: 220px;
    padding: 10px;
    border-radius: 20px;
}

.projectItem1,
.projectItem2,
.projectItem3 {
    display: flex;
    width: 100%;
    /* margin: 10px; */
    align-items: center;
}

.projectItem2 img {
    width: 400px;
    height: 225px;
}

.projectItem3 img {
    width: 314px;
    height: 184px;
}

@media (max-width: 964px) {
    .project img {
        width: 650px;
        height: 350px;
    }

    .projectItem1,
    .projectItem3 {
        display: flex;
        flex-direction: column;
        width: 100%;
        /* margin: 10px; */
        align-items: center;
    }

    .projectItem1 p,
    .projectItem2 p,
    .projectItem3 p {
        padding: 10px;
        font-size: 1.5rem;
    }

    .projectItem2 {
        display: flex;
        flex-direction: column-reverse;
        width: auto;
        /* margin: 10px; */
        align-items: center;
    }
}

@media (max-width: 480px) {
    .project img {
        width: 300px;
        height: 190px;
        padding: 0;
    }


}